* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.6);
}

.wrap {
    width: 100%;
    height: 100vh;
    background: url(../assets//bg.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.nav {
    width: 110px;
    /* margin-right: 180px; */
    padding-bottom: 20px;
    height: calc(100vh - 40px);
    margin-top: 20px;
    margin-bottom: 20px;
    background: rgba(0, 0, 0, 0.8);
    /* border-radius: 20px; */
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    /* overflow: hidden; */
    transition: 1s;
    transform-origin: left;
    position: relative;
}

.switch {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -45px;
    top: 45%;
    border-radius: 20%;
    padding: 5px;
    background: rgba(0, 0, 0, 0.6);
    transform: rotate(0deg);
    transition: 1s;
}

.switch .iconfont {
    font-size: 32px;
    font-weight: 800;
}

/* .nav:hover {
    width: 280px;
} */

.btn {
    width: 60px;
    height: 10px;
    display: flex;
    justify-content: space-around;
    margin-left: 25px;
    margin-right: 25px;
}

.btn-item {
    width: 10px;
    height: 10px;
    margin-top: 8px;
    border-radius: 50%;
}

.btn-item:nth-child(1) {
    background-color: #eb5a56;
}

.btn-item:nth-child(2) {
    background-color: #f8bc33;
}

.btn-item:nth-child(3) {
    background-color: #62cb44;
}

.icon {
    width: 250px;
    height: 60px;
    margin-left: 25px;
    margin-top: 20px;
    display: flex;
}

.icon-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.3);
    overflow: hidden;
}

.icon-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.icon-con {
    width: 130px;
    overflow: hidden;
    margin-left: 25px;
    transition: 1s;
   
}

.icon-con p {
    padding-top: 7px;
}

.icon-con h2 {
    font-weight: 400;
    max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.line {
    width: 60px;
    height: 1px;
    background: rgba(245, 253, 255, 0.5);
    margin: 20px 25px;
    transition: 1s;
}

/* .nav:hover .line {
    width: 230px;
} */

.title {
    width: 60px;
    margin-left: 25px;
    margin-bottom: 20px;
}

.title p {
    font-size: 14px;
}

.menu {
    width: 230px;
    margin-left: 25px;
}

.item {
    display: flex;
    position: relative;
    transition: 1s;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
}

.item:hover {
    background: rgba(255, 255, 255, 0.1);
}

.licon {
    width: 60px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.con {
    width: 0px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    overflow: hidden;
    position: relative;
    left: -20px;
    opacity: 0;
}

/* .nav:hover .con {
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
} */

.ricon {
    width: 0px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    overflow: hidden;
    opacity: 0;
}

/* .nav:hover .ricon {
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
} */

.iconfont {
    font-size: 26px;
}

.ricon .iconfont {
    font-size: 20px;
    /* color: #eb5a56; */
}

.light {
    width: 6px;
    height: 50px;
    background-color: #eb5a56;
    position: absolute;
    left: -25px;
    transition: 1s;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    opacity: 0;
}

.item:hover .light {
    opacity: 1;
}

.serve {
    width: 60px;
    background: rgba(0, 0, 0, 0.4);
    margin-left: 25px;
    border-radius: 10px;
    overflow: hidden;
    transition: 1s;
}

.nav:hover .serve {
    width: 230px;
}